@layer components {
    #signIn input, #signUp input {
        @apply p-2 w-[300px] text-lg;                /* Padding, width and text size */
        @apply border-2 border-white rounded-md;     /* Borders and corners */
        @apply bg-black text-white;                  /* Colors */
    }

    #settings h1 {
        @apply text-4xl mb-6; /* Title size and margin */
    }

    .settings-row {
        @apply flex items-center justify-between mb-6; /* Alignment and spacing */
        @apply w-full max-w-xl; /* Maximum width */
    }

    .settings-label {
        @apply text-xl mr-4; /* Text size and margin */
        @apply flex-shrink-0; /* Prevent shrinking */
        @apply w-40 text-left; /* Fixed width and alignment */
    }

    #settings-form input {
        @apply w-64 text-right; /* Width and text alignment */
        @apply caret-transparent bg-transparent border-none outline-none;
        @apply focus:ring-0 focus:outline-none focus:border-none;
        @apply border-b-2 border-white; /* Underline */
    }

    #settings-form input::placeholder {
        @apply text-white;
    }

    #settings-form input:focus::placeholder {
        @apply text-transparent;
    }

    #change-pp {
        @apply text-amber-500 cursor-pointer;
    }

    #avatar-buttons {
        @apply text-right w-64; /* Right alignment with width */
    }

    #settings-buttons {
        @apply text-xl flex justify-center gap-16; /* Increase space between buttons */
    }

    #settings-buttons button {
        @apply hover:text-amber-500; /* Hover effect */
    }
}
