@layer components {
    #leaderboard {
        @apply left-[2%]; /* Left panel positioning */
    }

    .user-list {
        @apply w-[15%] h-[65%] absolute top-[22%]; /* Size and positioning */
        @apply overflow-hidden p-[1vh];            /* No scroll, padding */
    }

    .user-list img {
        @apply w-[75px] h-[75px] rounded-md; /* User avatar styling - same as main menu avatar */
    }
}
