@layer components {
    #map {
        @apply border-2 border-white rounded-md; /* Map borders and corners */
    }
    
    /* Force le canvas du mode 4 joueurs à être carré */
    #game4 #map {
        width: 800px;
        height: 800px;
        max-width: 800px;
        max-height: 800px;
        aspect-ratio: 1 / 1;
    }
}
