#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: auto;
    max-width: 400px;
    margin: 50px auto;
    gap: 30px;
}

#login h2 {
    margin: 0;
    padding: 0;
}

#login input {
    padding: 15px;
    width: 300px;
    font-size: 16px;
    border: 2px solid #fff;
    background-color: #000;
    color: #fff;
    border-radius: 8px;
}

#login button {
    /* Réinitialise les styles pour éviter les conflits avec le style général des boutons */
    position: static;
    transform: none;
    margin: 0;
    padding: 12px 30px;
    font-size: 20px;
}
