@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    font-family: 'Press Start 2P', cursive;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden; /* Empêche le défilement */
}

body {
    text-align: center;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

h1 {
    border-bottom: 3px solid white;
    padding-bottom: 15px;
    text-align: left;
    margin-left: 20px;
    align-self: stretch;
    width: 100%;
    padding-top: 20px;
}

#landing-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh; /* Utilise min-height au lieu de height et réduit à 80vh */
    gap: 24px;
}

#landing-buttons button {
    position: static;
    transform: none;
    margin: 0;
}

button {
    margin: auto;
    padding: 20px 60px;
    font-size: 32px;
    background-color: #000;
    color: white;
    border: 4px solid #fff;
    border-radius: 16px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #2e7031; /* couleur au clic */
    transform: translate(-50%, -50%) scale(0.95);    /* effet de "pression" */
}

#map{
    margin: 20px auto;
    background-color: black;
}

#score{
    font-size: 30px;
    font-weight: bold;
    color: #f0f0f0;
}

#winnerDisplay{
    font-size: 20px;
    font-weight: bold;
   /* margin: 20px;*/
    color: #1bf114;
}
