@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import 'global.css';

@import 'components/background.css';
@import '../src/shared/ui/buttons.css';
@import '../src/shared/ui/pages.css';
@import '../src/landing/landing.css';
@import '../src/auth/auth.css';
@import '../src/friends/friends.css';
@import 'components/menu.css';
@import '../src/mainMenu/mainMenu.css';
@import '../src/profile/profile.css';
@import '../src/settings/settings.css';
@import '../src/shared/ui/overlays.css';
@import '../src/config/config.css';
@import '../src/game/game.css';
@import 'components/forms.css';
@import 'components/layout.css';
@import '../src/auth/google-button.css';

@tailwind base;
@tailwind components;
@tailwind utilities;