@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import 'global.css';

@import 'components/background.css';
@import 'components/buttons.css';
@import 'components/pages.css';
@import '../src/landing/landing.css';
@import 'components/auth.css';
@import '../src/friends/friends.css';
@import 'components/menu.css';
@import 'components/profile.css';
@import 'components/settings.css';
@import 'components/overlays.css';
@import '../src/config/config.css';
@import '../src/game/game.css';
@import 'components/forms.css';
@import 'components/layout.css';
@import 'components/google-button.css';

@tailwind base;
@tailwind components;
@tailwind utilities;